# Ignore cache files
*.cache
*.pyc
*.pyo
__pycache__/

# Ignore temporary files
*.tmp
*.swp
*.swo
*.bak
*.orig

# Ignore log files
*.log

# Ignore build artifacts
build/
dist/
*.o
*.so
*.a
*.out
linux64GccDPInt32Opt/

# Ignore system files
.DS_Store
Thumbs.db

# Ignore version control files
*.git/

# Ignore dataset files
dataset*.hdf5

train_SM_*
!train_SM_example
!train_SM_3d_example

simulation_data
pressureSM.egg-info

exclude*
*.egg-info

# other test cases to ignore
windAroundBuildings*
turbineSiting*

# Mesh related
polyMesh
cellLevel
nSurfaceLayers
pointLevel
thickness
thicknessFraction

*local*
